@model HotelManagementSystem.Models.RoomsListViewModel
@{
    ViewBag.Title = "Home";
}
<div class="d-flex align-items-center bg">
    <div class="container ">
        <header class="text-left">
            <h1 class="headline-custom">Hotel Mentha</h1>
            <h2 class="text-dark">A great place to stay</h2>
            <p>
                @Html.ActionLink("Make a booking", "CustomerRequest", "Request", null, new {@class = "btn my-2 button-custom-booking "})
            </p>

        </header>
    </div>
</div>
<div class="search-form">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-10">
                @using (Html.BeginForm("Index", "Home",
                    new
                    {
                        ViewBag.ReturnUrl
                    },
                    FormMethod.Get))
                {
                    <div class="d-lg-flex align-items-md-end">
                        <div class="form-group mb-3 mb-lg-0 mr-4">
                            <label>Sort by: </label>
                            @Html.DropDownList("sortOrder", Model.SleepsPricesSort,
                                new
                                {
                                    @class = "form-control"
                                })
                        </div>
                        <div class="form-group mb-3 mb-lg-0 mr-4">
                            <label>Type: </label>
                            @Html.DropDownList("roomType", Model.RoomTypes,
                                new
                                {
                                    @class = "form-control "
                                })
                        </div>
                        <div class="form-group mb-3 mb-lg-0 mr-4">
                            <label>Status: </label>
                            @Html.DropDownList("status", Model.Statuses,
                                new
                                {
                                    @class = "form-control"
                                })
                        </div>
                        <div class="form-group m-0">
                            <input type="submit" value="Filter" class="btn py-lg-3 px-4 button-custom-booking"/>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container pt-4">
    <div class="row text-center text-lg-left">
        @foreach (var item in Model.Rooms)
        {
            using (Html.BeginForm("Index", "Home",
                new
                {
                    ViewBag.ReturnUrl
                },
                FormMethod.Post,
                new
                {
                    @class = "form-row col-md-4"
                }))
            {
                <div class="card mb-4 shadow">
                    <img class="card-img-top" src="@Url.Content(item.RoomImage)" alt="@item.RoomNumber" style="display: block; height: 250px; width: 100%;">
                    <div class="card-body">
                        <h4 class="card-title">
                            Room:
                            @Html.DisplayFor(modelItem => item.RoomNumber)
                        </h4>
                        <p class="card-text">
                            Price For One Night:
                            @Html.DisplayFor(modelItem => item.RoomPriceForOneNight)
                        </p>
                        <p class="card-text">
                            Description:
                            @Html.DisplayFor(modelItem => item.RoomDescription)
                        </p>

                        <p class="card-text">
                            Status:
                            @Html.DisplayFor(modelItem => item.RoomStatus)
                        </p>
                        <p class="card-text">
                            Sleeps:
                            @Html.DisplayFor(modelItem => item.Sleeps)

                        </p>
                        <p class="card-text">
                            Room Type:
                            @Html.DisplayFor(modelItem => item.RoomType)

                        </p>
                        <div class="btn-group">
                            <input type="hidden" value=@item.Id name="id">
                            <input type="hidden" value=@item.RoomNumber name="roomNumber">
                            @if (item.RoomStatus == "Free")
                            {
                                <input class="btn btn-light" type="submit" value="Reserve A Room"/>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>