@model IEnumerable<HotelManagementSystem.Models.CustomerRequestViewModel>

@{
    ViewBag.Title = "Requests";
}

<div class="container">
    <div class="card border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row justify-content-center">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray mb-4">Requests</h1>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateFrom):
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateTo):
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sleeps):
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoomType):
                                </th>
                                <th>

                                    @Html.DisplayNameFor(model => model.CustomerRequestStatus):
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.DateFrom.ToShortDateString()

                                    </td>
                                    <td>
                                        @item.DateTo.ToShortDateString()

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sleeps)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoomType)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerRequestStatus)

                                    </td>
                                    <td>
                                        @if (item.CustomerRequestStatus == "Answer received")
                                        {
                                            @Html.ActionLink("View offer", "Confirmation", new {requestId = item.Id})
                                        }
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>