@using PagedList.Mvc
@model PagedList.IPagedList<HotelManagementSystem.Models.RoomTypeViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>
@{
    ViewBag.Title = "RoomTypeList";
}
<div class="container">
    <h2>Room Type List</h2>

    <p>
        @Html.ActionLink("Create New", "CreateRoomType")
    </p>

    @using (Html.BeginForm("RoomTypeList", "Admin", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search"/>
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Room type", "RoomTypeList", new {sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter})

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }

    </table>
    <br/>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("RoomTypeList", new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))
</div>